@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply overflow-hidden;
}

@font-face {
	font-family: 'JetBrainsMono';
	src: url('./assets/fonts/JetBrainsMono-Regular.ttf');
}

@font-face {
	font-family: 'JetBrainsMono';
	src: url('./assets/fonts/JetBrainsMono-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: 'JetBrainsMono';
	src: url('./assets/fonts/JetBrainsMono-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'JetBrainsMono';
	src: url('./assets/fonts/JetBrainsMono-ExtraBold.ttf');
	font-weight: bolder;
}

@font-face {
	font-family: 'JetBrainsMono';
	src: url('./assets/fonts/JetBrainsMono-ExtraBoldItalic.ttf');
	font-weight: bolder;
	font-style: italic;
}

@font-face {
	font-family: 'JetBrainsMono';
	src: url('./assets/fonts/JetBrainsMono-Light.ttf');
	font-weight: light;
}

@font-face {
	font-family: 'JetBrainsMono';
	src: url('./assets/fonts/JetBrainsMono-ExtraLightItalic.ttf');
	font-weight: lighter;
	font-style: italic;
}

@font-face {
	font-family: 'JetBrainsMono';
	src: url('./assets/fonts/JetBrainsMono-Italic.ttf');
	font-style: italic;
}

@font-face {
	font-family: 'JetBrainsMono';
	src: url('./assets/fonts/JetBrainsMono-Light.ttf');
	font-weight: light;
}

@font-face {
	font-family: 'JetBrainsMono';
	src: url('./assets/fonts/JetBrainsMono-Medium.ttf');
	font-weight: medium;
}

@font-face {
	font-family: 'JetBrainsMono';
	src: url('./assets/fonts/JetBrainsMono-MediumItalic.ttf');
	font-weight: medium;
	font-style: italic;
}
